<!doctype html>
<html lang="es">
  <head>
    <title>
      <%= title %>
    </title>
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1">
    <meta
      name="theme-color"
      content="#f9f9f9">
    <meta name="msapplication-TileColor" content="#f9f9f9">
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700,900,900i"
      rel="stylesheet">
    <link
      href="/static/css/admin-login.css"
      rel="stylesheet">
  </head>
  <body>
    <div id="header">
    </div>
    <div class="wrapper">
      <div class="login-form-wrapper">
        <h1><%= title %></h1>
        <p id="description">Enter a new password</p>
        <form
          action="/reset-password"
          method="POST"
          autocomplete="off"
          >
          <input
            type="hidden"
            name="_csrf"
            value="<%- csrfToken -%>"
            />
          <div class="input-text">
            <input
              type="text"
              name="new_password"
              autocomplete="off"
              onfocus="onInputFocus(this)"
              onblur="onInputFocus(this)"
              required
              />
            <label>Password</label>
            <span class="hint">Your new password</span>
          </div>
          <button
            class="button"
            type="submit"
            >
            SEND
          </button>
          <p id="error-msg">
            <%= error_message %>
          </p>
          <p id="success-msg">
            <%= success_message %>
          </p>
        </form>
      </div>
    </div>
    <div id="footer">
      <span>
        Development by
      </span>
      <div
        class="github-widget"
        data-github="eduardobc88">
      </div>
      <span>
        Version 1.0.0
      </span>
    </div>
    <script src='/static/js/dashboard-login.js' charset="utf-8"></script>
    <script
      defer
      src="/static/js/github-widget.js">
    </script>
  </body>
</html>
